$background-color: #212121;

.div-contact-container {
  display: flex;
  height: 100%;
  background-color: $background-color;

  .div-contact-centerme {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .div-title {
    text-align: center;
    color: white;
    opacity: 0.87;
    margin-top: 10px;
    font-size: xx-large;
  }

  .div-subtitle {
    text-align: center;
    color: #bb86fc;
    opacity: 0.87;
    margin-top: 10px;
    font-size: large;
  }
}
