<div class='div-projects-container'>
    <div class='div-projects-title'>
        <h2>Learning by doing. Projects in Web and Machine Learning</h2>
        <div>Key technologies: MEAN stack, Python, Docker and Machine Learning</div>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>Google Covid-19 Mobility</div>
                <div class='div-project-title-right'>AngularJS</div>
            </mat-card-title>
            <mat-card-subtitle>Visualizer for Google worldwide mobility data during the 2020 Covid-19
                pandemic.
            </mat-card-subtitle>
            <mat-card-content>
                The app is written using Angular and hosted on Vercel. The json data was downloaded from Google and then
                parsed directly into the Angular app.
                There is no database or Node backend used.
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>WHO Covid-19 Worldwide Data</div>
                <div class='div-project-title-right'>NodeJS + AngularJS</div>
            </mat-card-title>
            <mat-card-subtitle>Visualizer for WHO worldwide Covid-19 data</mat-card-subtitle>
            <mat-card-content>The initial challenge was to download the situation reports from WHO which are in pdf!
                Thanks to my son, he wrote a NodeJS application to convert the pdf report into a
                MongoDB database. I then wrote a small NodeJS based REST server that my visualizer can then just
                consume.
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>Dryer Temperature and Humidity</div>
                <div class='div-project-title-right'>MEAN + RaspberryPI</div>
            </mat-card-title>
            <mat-card-subtitle>Monitoring my dryer temperature/humidity using a Raspberry Pi</mat-card-subtitle>
            <mat-card-content>A full MEAN stack application that I use a Raspberry Pi to monitor and upload data from my
                dryer to a MongoDB database hosted on Atlas. A basic NodeJS server is written that is hosted on Heroku
                and then visualized using an AngularJS application hosted on Vercel. My family uses this to check on the
                dry cycle and I also use it to check on the current temperature/humidity since the sensor is mounted at
                the vent exit close to the outside of the house. </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>Fizz-Buzz Algorithm</div>
                <div class='div-project-title-right'>Machine Learning</div>
            </mat-card-title>
            <mat-card-subtitle>Solving the FizzBuzz algorithm using Machine Learning in Python</mat-card-subtitle>
            <mat-card-content>FizzBuzz is a simple algorithmic challenge that can be solved analytically. However, I
                wanted to challenge myself if I can solve the problem by approaching it as a classification problem
                using a neural network. I was not looking for efficiency or trying to use any novel machine learning
                methods but rather to understand the ML process by actually solving it with basic ML understanding.
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>Cart-Pole</div>
                <div class='div-project-title-right'>Reinforcement Learning</div>
            </mat-card-title>
            <mat-card-subtitle>Solving the classic Cart-Pole physics problem from OpenAI Gym</mat-card-subtitle>
            <mat-card-content>This is the classic intro project for reinforcement learning. I went through with learning
                to solve this since there are so many example solutions out there.
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>Tic-Tac-Toe</div>
                <div class='div-project-title-right'>Reinforcement Learning</div>
            </mat-card-title>
            <mat-card-subtitle>Solving the basic game of Tic-Tac-Toe</mat-card-subtitle>
            <mat-card-content>Ok, this is no Alpha-Go but I now wanted to apply my learning from the Cart-Pole problem
                to solving Tic-Tac-Toe. Basically the algorithm remained the same and adapted to solve TicTacToe. This
                is not an exhaustive solution but it did the job.
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>Connect-4</div>
                <div class='div-project-title-right'>Reinforcement Learning</div>
            </mat-card-title>
            <mat-card-subtitle>Solving the basic game of Connect-4</mat-card-subtitle>
            <mat-card-content>Now that I solved Tic-Tac-Toe, let me just be double certain I can reproduce my understand
                with the game of Connect-4.
            </mat-card-content>
        </mat-card>
    </div>
</div>