<div class='div-projects-container'>
    <div class='div-projects-title'>
        <h2>Learning by doing. Projects in Web and Cloud.</h2>
        <p>Key technologies: MEAN stack, Docker, NGINX, .NET Core</p>
        <p>I have always enjoyed the process of taking something from design to deployment. At first it is just fun and
            enough to learn bits and pieces of technology but in real-life, the end product in the hands of users should
            be any project goal. Here I want to be able to deploy full stack or static websites that can actually be
            consumed by the end user anywhere in the world. These simple but yet practical projects let me practice the
            fundamentals of AngularJS, Javascript, Node Servers written in both Javascript and Typescipt, Docker
            containers, NGINX and deployment. Obviously I always find comfort with .NET Core and Visual Studio. </p>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>Hosting NodeJS with serverless technology</div>
                <div class='div-project-title-right'>NodeJS + Vercel Serverless</div>
            </mat-card-title>
            <mat-card-subtitle>Hosting basic REST API without full blown hosters like Heroku, AWS, Google or Azure
            </mat-card-subtitle>
            <mat-card-content>
                There are many instances that I am pushing IOT data up to a database to be visualized at a later time.
                Initially I would just host a full NodeJS server but then I decided to look into serverless shared
                hosting like AWS Lambda but settled on Vercel Serverless. Essentially, I just needed REST CRUD
                operations
                to interact with a database so this seems to be a nice and simple solution.
            </mat-card-content>
            <mat-card-actions>
                <a href='https://github.com/hujanais/cms-serverless' target="_blank" mat-button>
                    An example of skeleton CMS that I used for another project.
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>Google Covid-19 Mobility</div>
                <div class='div-project-title-right'>AngularJS</div>
            </mat-card-title>
            <mat-card-subtitle>Visualizer for Google worldwide mobility data during the 2020 Covid-19
                pandemic.
            </mat-card-subtitle>
            <mat-card-content>
                The app is written using Angular and hosted on Vercel. The json data was downloaded from Google and then
                parsed directly into the Angular app.
                There is no database or Node backend used.
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="openDialog('COVID-MOBILITY')">More info</button>
                <a href='https://covid-mobility-ng.vercel.app/' target="_blank" mat-button>
                    visit
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>WHO Covid-19 Worldwide Data</div>
                <div class='div-project-title-right'>NodeJS + AngularJS</div>
            </mat-card-title>
            <mat-card-subtitle>Visualizer for WHO worldwide Covid-19 data</mat-card-subtitle>
            <mat-card-content>The initial challenge was to download the situation reports from WHO which are in pdf!
                Thanks to my son, he wrote a NodeJS application to convert the pdf report into a
                MongoDB database. I then wrote a small NodeJS based REST server that my visualizer can then just
                consume.
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="openDialog('COVID-NG')">More info</button>
                <a href='https://covid-who.vercel.app/' target="_blank" mat-button>
                    visit
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>