<div class='div-projects-container'>
    <div class='div-projects-title'>
        <h2>Learning by doing. Projects in Web and Cloud.</h2>
        <p>Key technologies: MEAN stack, Docker, NGINX, .NET Core</p>
        <p>I have always enjoyed the process of taking something from design to deployment. At first it is just fun and
            enough to learn bits and pieces of technology but in real-life, the end product in the hands of users should
            be any project goal. Here I want to be able to deploy full stack or static websites that can actually be
            consumed by the end user anywhere in the world. These simple but yet practical projects let me practice the
            fundamentals of AngularJS, Javascript, Node Servers written in both Javascript and Typescipt, Docker
            containers, NGINX and deployment. Obviously I always find comfort with .NET Core and Visual Studio. </p>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>Google Covid-19 Mobility</div>
                <div class='div-project-title-right'>AngularJS</div>
            </mat-card-title>
            <mat-card-subtitle>Visualizer for Google worldwide mobility data during the 2020 Covid-19
                pandemic.
            </mat-card-subtitle>
            <mat-card-content>
                The app is written using Angular and hosted on Vercel. The json data was downloaded from Google and then
                parsed directly into the Angular app.
                There is no database or Node backend used.
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="openDialog('COVID-MOBILITY')">More info</button>
                <a href='https://covid-mobility-ng.vercel.app/' target="_blank" mat-button>
                    visit
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>WHO Covid-19 Worldwide Data</div>
                <div class='div-project-title-right'>NodeJS + AngularJS</div>
            </mat-card-title>
            <mat-card-subtitle>Visualizer for WHO worldwide Covid-19 data</mat-card-subtitle>
            <mat-card-content>The initial challenge was to download the situation reports from WHO which are in pdf!
                Thanks to my son, he wrote a NodeJS application to convert the pdf report into a
                MongoDB database. I then wrote a small NodeJS based REST server that my visualizer can then just
                consume.
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="openDialog('COVID-NG')">More info</button>
                <a href='https://covid-who.vercel.app/' target="_blank" mat-button>
                    visit
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>Dryer Temperature and Humidity FullStack with Raspberry PI</div>
                <div class='div-project-title-right'>MEAN + RaspberryPI + Docker + NGINX</div>
            </mat-card-title>
            <mat-card-subtitle>Monitoring my dryer temperature/humidity using a Raspberry Pi</mat-card-subtitle>
            <mat-card-content>A full MEAN stack application that I use a Raspberry Pi to monitor and upload data from my
                dryer to a MongoDB database hosted on Atlas. A basic NodeJS server is written that is hosted on Heroku
                and then visualized using an AngularJS application hosted on Vercel. My family uses this to check on the
                dry cycle and I also use it to check on the current temperature/humidity since the sensor is mounted at
                the vent exit close to the outside of the house. </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="openDialog('DRYER-PI')">More info</button>
                <a href='https://dryer-ng.vercel.app/' target="_blank" mat-button>
                    visit
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>Using SenseHat module on RaspberryPI</div>
                <div class='div-project-title-right'>.NET Core + MongoDB + Visual Studio</div>
            </mat-card-title>
            <mat-card-subtitle>A weather station using a Raspberry Pi</mat-card-subtitle>
            <mat-card-content>This was a quicky 1/2 day challenge to put together a WeatherStation type setup using
                SenseHat and a RaspberryPI. This time, I wanted to try it with .NET Core and Visual Studio 2019. Wow,
                what a joy to see intellisense, debugging and compile time syntax checking come alive. I love the MEAN
                stack but my first love of .NET makes me a bit teary. </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="openDialog('SENSE-HAT')">More info</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>