<mat-card>
    <mat-card-title>Google Mobility Data during Covid-19 pandemic</mat-card-title>
    <mat-card-content>A quick hackathon project to display the latest Covid-19 data from WHO using a simple tabular
        format
        and ChartsJS graphs. I initially deployed this using Docker on Heroku but I soon used Vercel instead. Vercel
        seems way more appropriate for static websites.
        <div class='div-image-container'>
            <img src='../../../assets/covid-mobility.PNG' width='100%' height='100%'>
        </div>
    </mat-card-content>
</mat-card>