<div class='div-home-container'>
    <div class='div-home-centerme'>
        <div class='div-img'><img src="https://picsum.photos/id/1036/300/300"></div>
        <div class='div-title'>Teik Lee</div>
        <div class='div-title'>Software Developer & Hobbyist</div>
        <div class='div-subtitle'>unwinds with soccer, futsal and running</div>
        <div class='div-subtitle'>
            <a href="https://github.com/hujanais" target="_blank" mat-button>
                <img src='../../../assets/GitHub-Mark-Light-64px.png' width="24" height="24" />
            </a>
        </div>
    </div>
</div>