<div class='div-dtprojects-container'>
    <div class='div-projects-title'>
        <h2>Learning by doing. Projects for desktop applications</h2>
        <p>Key technologies: C#.NET / WPF</p>
        <p>TBD</p>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>BetFair Sports Betting Bot</div>
                <div class='div-project-title-right'>C#/WPF + MaterialDesign UI</div>
            </mat-card-title>
            <mat-card-subtitle>A bespoke bot for online betting</mat-card-subtitle>
            <mat-card-content>
                <p>This is a project I did for a small company in the UK for trading in horse and greyhound
                    racing markets. The bot reads statistical information from their proprietary database to present
                    value
                    bets on the Betfair trading exchange. The connectivity to the Betfair trading exchange is a REST API
                    and
                    a pub/sub streaming socket connection for realtime prices. Apart from the API and algorithm
                    development,
                    I also was tasked at developing a modern look and feel that I chose to use the MaterialDesign WPF
                    port
                    for a more weblike view. This project has the added pressure that customers will be wagering
                    real money on this bot so I will feel their wrath if there are glitches!</p>
                <iframe id="ytplayer" type="text/html" width="640" height="360"
                    src="https://www.youtube.com/embed/6d5vdlVR16I?autoplay=1&origin=http://teiklee.com"
                    frameborder="0"></iframe>
            </mat-card-content>
            <mat-card-actions>
                <a href='https://youtu.be/6d5vdlVR16I' target="_blank" mat-button>
                    See full video on YouTube
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>