<div class='div-dtprojects-container'>
    <div class='div-projects-title'>
        <h2>Learning by doing. Projects for desktop applications</h2>
        <p>Key technologies: C#.NET / WPF</p>
        <p>Despite the fact that more and more applications are web or mobile based, there are still applications
            that are better suited for the desktop. For years I have done full-stack desktop development using the
            Microsoft frameworks like WCF and WPF. I guess there is still a time and place for it.</p>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>BetFair Sports Betting Bot</div>
                <div class='div-project-title-right'>C#/WPF + MaterialDesign UI</div>
            </mat-card-title>
            <mat-card-subtitle>A bespoke bot for online betting</mat-card-subtitle>
            <mat-card-content>
                <p>This is a project I did for a small company in the UK for trading in horse and greyhound
                    racing markets. The bot reads statistical information from their proprietary database to present
                    value
                    bets on the Betfair trading exchange. The connectivity to the Betfair trading exchange is a REST API
                    and
                    a pub/sub streaming socket connection for realtime prices. Apart from the API and algorithm
                    development,
                    I also was tasked at developing a modern look and feel that I chose to use the MaterialDesign WPF
                    port
                    for a more weblike view. This project has the added pressure that customers will be wagering
                    real money on this bot so I will feel their wrath if there are glitches!</p>
                <iframe id="ytplayer" type="text/html" width="640" height="360"
                    src="https://www.youtube.com/embed/6yTXZuLZCCw?autoplay=1&origin=http://teiklee.com"
                    frameborder="0"></iframe>
            </mat-card-content>
            <mat-card-actions>
                <a href='https://youtu.be/6yTXZuLZCCw' target="_blank" mat-button>
                    See full video on YouTube
                </a>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>Crypto Monitoring Bot</div>
                <div class='div-project-title-right'>C#/WPF + MaterialDesign UI</div>
            </mat-card-title>
            <mat-card-subtitle>A fun 2-day hackathon for a crypto app for Binance</mat-card-subtitle>
            <mat-card-content>
                <p>This is just a fun idea that cropped up talking to a friend about crypto-currencies. We have dabbled
                    in it off and on over the years but never in any meaningful way. For a fun quick project, I thought
                    it would be cool to just write a desktop app that can monitor some technical information about
                    various cyptos. I have a Binance-US account so I just wrote it for this. Initially, I wanted to do
                    this with .net core and run it as a client-server but in the end, with a 2-day time
                    budget, I just went full desktop.
                </p>
                <div class='div-image-container'>
                    <img src='../../../assets/binance-crypto-bot.PNG' width='30%' height='20%'>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <a href='https://github.com/hujanais/binance-crypto-app' target="_blank" mat-button>
                    <img src='../../../assets/GitHub-Mark-Light-64px.png' width="24" height="24" />
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>