body {
  display: flex;
  flex-direction: column;
  background-color: #212121;
  color: white;
  opacity: 0.86;
}

.div-nav {
  height: 64px;
  padding: 0px 10px;
  position: fixed;
}

.div-content {
  display: flex;
  flex-direction: column;
}

section {
  border-color: purple;
  border-style: solid;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.div-home-content {
  display: flex;
  flex-grow: 1;
}

.div-centerme {
  display: flex;
  margin: auto;
  font-size: x-large;
}
