.div-language {
  text-align: center;
  color: cornflowerblue;
}

.div-languages-title {
  color: white;
  opacity: 0.86;
}

.div-platforms {
  text-align: center;
}

.div-technologies {
  text-align: center;
}

.div-project-showcase {
  text-align: center;
  height: 50vh;
}
