<mat-toolbar color='primary'>
  <a class='a-link-button' mat-button [routerLink]="[ '/' ]">
    <mat-icon>home</mat-icon>
  </a>

  <span class="span-spacer"></span>
  <div class='div-menu-icon' fxShow="true" fxHide.gt-xs="true">
    <a mat-button (click)="drawer.toggle()">
      <mat-icon class='div-mat-icon'>more_vert</mat-icon>
    </a>
  </div>

  <div fxShow="true" fxHide.lt-sm="true">
    <a class='a-link-button' mat-button [routerLink]="[ '/' ]">Home</a>
    <a class='a-link-button' mat-button [routerLink]="[ '/projects' ]">Web</a>
    <a class='a-link-button' mat-button [routerLink]="[ '/projects-ml' ]">ML</a>
    <a class='a-link-button' mat-button [routerLink]="[ '/showcase' ]">Showcase</a>
    <a class='a-link-button' mat-button [routerLink]="[ '/contact' ]">Contact</a>
  </div>

</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div><a class='a-link-button' mat-button [routerLink]="[ '/' ]" (click)="drawer.close()">Home</a></div>
    <div><a class='a-link-button' mat-button [routerLink]="[ '/projects' ]" (click)="drawer.close()">Web</a></div>
    <div><a class='a-link-button' mat-button [routerLink]="[ '/projects-ml' ]" (click)="drawer.close()">ML</a></div>
    <div><a class='a-link-button' mat-button [routerLink]="[ '/showcase' ]" (click)="drawer.close()">Showcase</a></div>
    <div><a class='a-link-button' mat-button [routerLink]="[ '/contact' ]" (click)="drawer.close()">Contact</a></div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class='div-router'>
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>