<mat-toolbar color='primary'>
  <a class='a-link-button' mat-button [routerLink]="[ '/' ]">
    <mat-icon>home</mat-icon>
  </a>
  <span class="span-spacer"></span>
  <div>
    <a class='a-link-button' mat-button [routerLink]="[ '/' ]">Home</a>
    <a class='a-link-button' mat-button [routerLink]="[ '/projects' ]">Web</a>
    <a class='a-link-button' mat-button [routerLink]="[ '/projects-ml' ]">ML</a>
    <a class='a-link-button' mat-button [routerLink]="[ '/showcase' ]">Showcase</a>
    <a class='a-link-button' mat-button [routerLink]="[ '/contact' ]">Contact</a>
  </div>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div><a class='a-link-button' mat-button [routerLink]="[ '/' ]">Home</a></div>
    <div><a class='a-link-button' mat-button [routerLink]="[ '/projects' ]">Web</a></div>
    <div><a class='a-link-button' mat-button [routerLink]="[ '/projects-ml' ]">ML</a></div>
    <div><a class='a-link-button' mat-button [routerLink]="[ '/showcase' ]">Showcase</a></div>
    <div><a class='a-link-button' mat-button [routerLink]="[ '/contact' ]">Contact</a></div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    <div class='div-router'>
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>

<!-- <mat-toolbar color='primary'>
    <a class='a-link-button' mat-button [routerLink]="[ '/' ]">
      <mat-icon>home</mat-icon>
    </a>
    <span class="span-spacer"></span>
    <a class='a-link-button' mat-button [routerLink]="[ '/' ]">Home</a>
    <a class='a-link-button' mat-button [routerLink]="[ '/projects' ]">Web</a>
    <a class='a-link-button' mat-button [routerLink]="[ '/projects-ml' ]">ML</a>
    <a class='a-link-button' mat-button [routerLink]="[ '/showcase' ]">Showcase</a>
    <a class='a-link-button' mat-button [routerLink]="[ '/contact' ]">Contact</a>
  </mat-toolbar>

  <div class='div-router'>
    <router-outlet></router-outlet>
  </div> -->