<div class='div-container'>
  <mat-toolbar>
    <a class='a-link-button' mat-button [routerLink]="[ '/' ]">
      <mat-icon>home</mat-icon>
    </a>
    <span class="span-spacer"></span>
    <a class='a-link-button' mat-button [routerLink]="[ '/' ]">Home</a>
    <a class='a-link-button' mat-button [routerLink]="[ '/projects' ]">Web</a>
    <a class='a-link-button' mat-button [routerLink]="[ '/projects-ml' ]">ML</a>
    <a class='a-link-button' mat-button [routerLink]="[ '/showcase' ]">Showcase</a>
    <a class='a-link-button' mat-button [routerLink]="[ '/contact' ]">Contact</a>
  </mat-toolbar>

  <div class='div-router'>
    <router-outlet></router-outlet>
  </div>
</div>