<div class='div-projects-container'>
    <div class='div-projects-title'>
        <h2>Learning by doing. Projects in Machine Learning.</h2>
        <p>Key technologies: Python, Keras, Machine Learning</p>
        <p>These projects are some of the projects that I used to finally dispel the mysteries of machine learning. I am
            particularly taken by the Alpha-Go documentary and really want to understand the fundamentals of
            reinforcement learning and neural networks.</p>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>Fizz-Buzz Algorithm</div>
                <div class='div-project-title-right'>Machine Learning</div>
            </mat-card-title>
            <mat-card-subtitle>Solving the FizzBuzz algorithm using Machine Learning in Python</mat-card-subtitle>
            <mat-card-content>FizzBuzz is a simple algorithmic challenge that can be solved analytically. However, I
                wanted to challenge myself if I can solve the problem by approaching it as a classification problem
                using a neural network. I was not looking for efficiency or trying to use any novel machine learning
                methods but rather to understand the ML process by actually solving it with basic ML understanding.
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color='primary' (click)="openDialog('FIZZ-BUZZ')">More info</button>
                <a href='https://colab.research.google.com/github/hujanais/reinforcement-learning/blob/master/fizz_buzz.ipynb'
                    target="_blank" mat-button color='primary'>
                    visit
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>Cart-Pole</div>
                <div class='div-project-title-right'>Reinforcement Learning</div>
            </mat-card-title>
            <mat-card-subtitle>Solving the classic Cart-Pole physics problem from OpenAI Gym</mat-card-subtitle>
            <mat-card-content>This is the classic intro project for reinforcement learning. I went through with learning
                to solve this since there are so many example solutions out there.
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color='primary' (click)="openDialog('CART-POLE')">More info</button>
                <a href='https://colab.research.google.com/drive/1H_s0c_dCN3mTnAe9dCPDhqljdL7GKdT7?usp=sharing'
                    target="_blank" mat-button color='primary'>
                    visit
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                <div class='div-project-title-left'>Tic-Tac-Toe and Connect-4</div>
                <div class='div-project-title-right'>Reinforcement Learning</div>
            </mat-card-title>
            <mat-card-subtitle>Solving the basic game of Tic-Tac-Toe</mat-card-subtitle>
            <mat-card-content>Ok, this is no Alpha-Go but I now wanted to apply my learning from the Cart-Pole problem
                to solving Tic-Tac-Toe and Connect-4.
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color='primary' (click)="openDialog('TIC-TAC-TOE')">More info</button>
                <a href='https://colab.research.google.com/drive/1S_oUvLXOwxaYJAVjEeAf0Fy25L1cZfzN?usp=sharing'
                    target="_blank" mat-button color='primary'>
                    Tic-Tac-Toe
                </a>
                <a href='https://colab.research.google.com/drive/1Db-1RBMeftv5UlVB5L4HTaE2VzXqHVPf?usp=sharing'
                    target="_blank" mat-button color='primary'>
                    Connect-4
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>