<div class='div-showcase-container'>
    <div class='div-showcase-content'>
        <a href='https://kids-empower-ui.vercel.app/' target="_blank" mat-button>
            <h2>Kids-Empower-App</h2>
        </a>
        <p>This is a full-stack application that was written by myself and a friend of mine. As engineers, we love the
            idea
            of building products from soup to nuts and challenge ourselves with all aspects of development just like our
            work environment but in a setting where we were solely left to fend for ourselves. Pull-request issues,
            deployment issues, technical issues, whatever it is, figure it out!</p>
        <p>This application is essentially a Jira-like task whiteboard for families to encourage children to do chores.
        </p>
        <p>This application encompasses all the fun technical stuff.</p>
        <ul>
            <li>Node-Express server written in Typescript hosted on Heroku</li>
            <li>MongoDB database hosted on Atlas</li>
            <li>AngularJS frontend hosted on Vercel</li>
            <li>Responsive layout</li>
            <li>User authentication users using JWT</li>
            <li>Registration, forgot-password email feature</li>
            <li>Pair programming sessions on Zoom once per week</li>
        </ul>
    </div>
</div>