<mat-dialog-content>
    <mat-card>
        <mat-card-title>Cart-Pole DQN</mat-card-title>
        <mat-card-content>First foray into reinforcement learning with DQN. I started with the Bellman-Equation for
            simpler games like FrozenLake but this is more relevant to start using neural networks. I wanted to come up
            with a understandable algorithm and code structure that I can start applying to other problems with minimal
            code refactoring.
            <div class='div-video-container'>
                <mat-video src='../../../assets/cartpole.mp4'></mat-video>
            </div>
            <div>320 time steps achieved.</div>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>