<mat-dialog-content>
    <mat-card>
        <mat-card-title>Cart-Pole DQN</mat-card-title>
        <mat-card-content>First foray into reinforcement learning with DQN. I started with the Bellman-Equation for
            simpler games like FrozenLake but this is more relevant to start using neural networks. I wanted to come up
            with a understandable algorithm and code structure that I can start applying to other problems with minimal
            code refactoring. I did manage to score up to 320 points for the challenge.
            <div class='div-image-container'>
                <img src='../../../assets/FizzBuzz.PNG' width='300px' height='300px'>
            </div>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>